# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/nvbit-Linux-*-*.tar.bz2
/nvbit_release/EULA.txt
/nvbit_release/LICENSE
/nvbit_release/README.md
/nvbit_release/core
/nvbit_release/test-apps
/nvbit_release/tools/Makefile
/nvbit_release/tools/instr_*
/nvbit_release/tools/mem_*
/nvbit_release/tools/mov_*
/nvbit_release/tools/opcode_*
/nvbit_release/tools/record_*
main*
!main*.cu
*.patch
/nvbit_release/tools/gpu-fpx-2/instructions.h
/nvbit_release/tools/gpu-fpx-2/nlohmann