# SPDX-FileCopyrightText: Copyright (c) <2025> NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# SPDX-License-Identifier: Apache-2.0

[flake8]
max-line-length = 100
exclude =
    .git,
    __pycache__,
    build,
    env,
    dist,
    docs/build,
    docs/source/generated,
    docs/source/stubs,
    docs/venv,
    docs/source/_templates,
    experimental/cuda-lang/src/cuda/lang/_stub/nvvm.py,
    experimental/cuda-lang/src/cuda/lang/_stub/nvvm_mlir_interfaces.py,
    experimental/cuda-lang/src/cuda/lang/_stub/_libdevice.py,
per-file-ignores =
    src/cuda/tile/_stub.py: W291
