# SPDX-FileCopyrightText: Copyright (c) <2025> NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# SPDX-License-Identifier: Apache-2.0

.*.swp
__pycache__
*.egg-info
*.log
*.mlir
!/test/mlir/**/*.mlir
env
deps
*.nsys-rep
*.so
build/
.cache
.idea
.rgignore
docs/venv
docs/build
docs/source/generated
docs/source/stubs
*.benchmarks
.vscode/
/internal
.cursor/rules/
*.pyd
/compile_commands.json
